n8n-workflows/billing-emit.json
{
  "name": "SignPRO - Emitir Fatura InvoiceXpress",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "billing-emit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "billing-emit"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $json.body.account_name }}.app.invoicexpress.com/clients/find-by-code.json?client_code={{ $json.body.client.nif }}&api_key={{ $json.body.api_key }}",
        "options": { "timeout": 10000 },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        }
      },
      "id": "node-find-client",
      "name": "Buscar Cliente IX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-client-not-found",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 404,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-client",
      "name": "Cliente existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Webhook').item.json.body.account_name }}.app.invoicexpress.com/clients.json?api_key={{ $('Webhook').item.json.body.api_key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ client: { name: $('Webhook').item.json.body.client.name, code: $('Webhook').item.json.body.client.nif, fiscal_id: $('Webhook').item.json.body.client.nif, email: $('Webhook').item.json.body.client.email || '', country: 'Portugal' } }) }}",
        "options": {}
      },
      "id": "node-create-client",
      "name": "Criar Cliente IX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Webhook').item.json.body.account_name }}.app.invoicexpress.com/invoice_receipts.json?api_key={{ $('Webhook').item.json.body.api_key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ invoice_receipt: { date: new Date().toLocaleDateString('pt-PT', {day:'2-digit',month:'2-digit',year:'numeric'}), due_date: new Date().toLocaleDateString('pt-PT', {day:'2-digit',month:'2-digit',year:'numeric'}), client: { name: $('Webhook').item.json.body.client.name, code: $('Webhook').item.json.body.client.nif }, items: $('Webhook').item.json.body.items.map(i => ({ name: i.name, unit_price: i.unitPrice, quantity: i.quantity, tax: { name: i.taxName || 'IVA23' } })) } }) }}",
        "options": {}
      },
      "id": "node-create-draft",
      "name": "Criar Rascunho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Webhook').item.json.body.account_name }}.app.invoicexpress.com/invoice_receipts/{{ $json.invoice_receipt.id }}/change-state.json?api_key={{ $('Webhook').item.json.body.api_key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ invoice_receipt: { state: 'finalized' } }) }}",
        "options": {}
      },
      "id": "node-finalize",
      "name": "Finalizar (ATCUD)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "node-wait",
      "name": "Esperar 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $('Webhook').item.json.body.account_name }}.app.invoicexpress.com/api/pdf/{{ $('Finalizar (ATCUD)').item.json.invoice_receipt.id }}.json?api_key={{ $('Webhook').item.json.body.api_key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "node-get-pdf",
      "name": "Obter PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'finalized', invoice: { provider_invoice_id: $('Finalizar (ATCUD)').item.json.invoice_receipt?.id, atcud: $('Finalizar (ATCUD)').item.json.invoice_receipt?.atcud, sequence_number: $('Finalizar (ATCUD)').item.json.invoice_receipt?.sequence_number, permalink: $('Finalizar (ATCUD)').item.json.invoice_receipt?.permalink, total: $('Finalizar (ATCUD)').item.json.invoice_receipt?.total, pdf_url: $json?.output?.pdfUrl || $('Finalizar (ATCUD)').item.json.invoice_receipt?.permalink || null } }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1960, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Buscar Cliente IX", "type": "main", "index": 0 }]]
    },
    "Buscar Cliente IX": {
      "main": [[{ "node": "Cliente existe?", "type": "main", "index": 0 }]]
    },
    "Cliente existe?": {
      "main": [
        [{ "node": "Criar Cliente IX", "type": "main", "index": 0 }],
        [{ "node": "Criar Rascunho", "type": "main", "index": 0 }]
      ]
    },
    "Criar Cliente IX": {
      "main": [[{ "node": "Criar Rascunho", "type": "main", "index": 0 }]]
    },
    "Criar Rascunho": {
      "main": [[{ "node": "Finalizar (ATCUD)", "type": "main", "index": 0 }]]
    },
    "Finalizar (ATCUD)": {
      "main": [[{ "node": "Esperar 2s", "type": "main", "index": 0 }]]
    },
    "Esperar 2s": {
      "main": [[{ "node": "Obter PDF", "type": "main", "index": 0 }]]
    },
    "Obter PDF": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
